<%
const sortPosts = site.posts.sort('date', -1)
let categories = new Set()
sortPosts.sort('date', -1).forEach(p => {
  p.categories.forEach(c => {
    categories.add(c.name)
  })
})
%>
<article>
  <div id="archive">

    <h2>按归档组织</h2>

    <% if (categories.size > 0) { %>
    <% categories.forEach(cName => { %>
    <h3><%= cName %></h3>
    <ul>
      <% sortPosts.filter(p => p.categories.some(c => c.name === cName)).forEach(post => { %>
      <li>
        <a href="<%=url_for(post.path)%>"> <%=post.title%></a>
      </li>
      <% }); %>
    </ul>
    <% }); %>
    <% } %>

  </div>
</article>