<% page.groups.forEach(group => { %>
<div class="archive">
  <h1 class="archive-title"><%= group.name %></h1>
  <% group.posts.forEach(post => { %>
  <div class="archive-item">
    <a class="archive-item-link" href="<%=url_for(post.path)%>"><%=post.title%></a>
    <time class="archive-item-level">
      <%=post.level%>
    </time>
  </div>
  <% }); %>
</div>
<% }) %>